jupyter==1.0.0
matplotlib>=3.6.0
missingno==0.5.1
netCDF4>=1.6.0
numpy
pandas
pathlib2==2.3.7.post1
scipy==1.1.0
xarray>=2022.6.0
scikit-learn>=1.2.0
seaborn>=0.12.0
xgboost
geopandas==0.12.2
reverse_geocoder